.header {
  box-shadow: 0 1px 0 var(--border-color);
  transition: box-shadow var(--sidebar-visibility-transition-duration);
}

.sidebar {
  box-shadow: 1px var(--border-radius) 0 var(--border-color);
}

main {
  transition: margin-left var(--sidebar-visibility-transition-duration);
  // clip-path: content-box;
  // overflow: auto;
  // height: 100%;

  &::before,
  &::after {
    content: "";
    position: fixed;
    z-index: 150;
    width: var(--border-radius);
    height: var(--border-radius);
    top: var(--header-height);
    left: calc(var(--border-radius) * -1);
    transition: left var(--sidebar-visibility-transition-duration);
  }

  &::before {
    background-color: var(--nav-bg-color);
  }

  &::after {
    background-color: var(--bg-color);

    border-left: var(--border);
    border-top: var(--border);

    border-top-left-radius: var(--border-radius);
  }
}

// article {

//   border-left: 6px solid var(--bg-left-border-color);

//   &::before,
//   &:after {
//     content: "";
//     position: absolute;
//     // z-index: 150;
//     width: 6px /* var(--border-radius) */;
//     height: 6px /* var(--border-radius) */;
//     bottom: 0 /* var(--header-height) */;
//     left: 0 /* calc(var(--border-radius) * -1) */;
//     // transition: left var(--sidebar-visibility-transition-duration);
//   }

//   &::before {
//     background-color: var(--nav-bg-color);
//   }

//   &:after {
//     background-color: var(--bg-left-border-color);

//     border-left: 6px solid var(--base-background-color);
//     border-top: 6px solid transparent;

//     // border-top-left-radius: var(--border-radius);
//   }
// }

.sidebar-visible {
  height: 100vh;
  .header {
    box-shadow: calc(var(--sidebar-width) + var(--border-radius)) 1px 0 var(--border-color);
  }

  main /* article */ {
    &::before,
    &::after {
      left: var(--sidebar-width);
    }
  }
}

@media (max-width: 900px) {
  article {
    &::before,
    &::after {
      content: none;
    }
  }

  .sidebar-visible {
    // .header {
    //   box-shadow: var(--sidebar-width) 1px 0 var(--border-color);
    // }

    // .sidebar {
    //   box-shadow: 1px 0 0 var(--border-color);
    // }

    &::after {
      content: "";
      position: fixed;
      z-index: 100;
      inset: 0;
      background-color: rgb(0, 0, 0, 0.5);
      pointer-events: none;
    }
  }
}
