.format-0 {
  color: #000;
  text-shadow: 0.125em 0.125em 0 #000;
}

.format-1 {
  color: #0000a8;
  text-shadow: 0.125em 0.125em 0 #00002a;
}

.format-2 {
  color: #00a800;
  text-shadow: 0.125em 0.125em 0 #002a00;
}

.format-3 {
  color: #00a8a8;
  text-shadow: 0.125em 0.125em 0 #002a2a;
}

.format-4 {
  color: #a80000;
  text-shadow: 0.125em 0.125em 0 #2a0000;
}

.format-5 {
  color: #a800a8;
  text-shadow: 0.125em 0.125em 0 #2a002a;
}

.format-6 {
  color: #fba800;
  text-shadow: 0.125em 0.125em 0 #3e2a00;
}

.format-7 {
  color: #a8a8a8;
  text-shadow: 0.125em 0.125em 0 #2a2a2a;
}

.format-8 {
  color: #545454;
  text-shadow: 0.125em 0.125em 0 #151515;
}

.format-9 {
  color: #5454fb;
  text-shadow: 0.125em 0.125em 0 #15153e;
}

.format-a {
  color: #54fb54;
  text-shadow: 0.125em 0.125em 0 #153e15;
}

.format-b {
  color: #54fbfb;
  text-shadow: 0.125em 0.125em 0 #153e3e;
}

.format-c {
  color: #fb5454;
  text-shadow: 0.125em 0.125em 0 #3e1515;
}

.format-d {
  color: #fb54fb;
  text-shadow: 0.125em 0.125em 0 #3e153e;
}

.format-e {
  color: #fbfb54;
  text-shadow: 0.125em 0.125em 0 #3e3e15;
}

.format-f,
#minetip-tooltip {
  color: #fbfbfb;
  text-shadow: 0.125em 0.125em 0 #3e3e3e;
}

.format-g {
  color: #ddd605;
  text-shadow: 0.125em 0.125em 0 #373501;
}

.format-h {
  color: #e3d4d1;
  text-shadow: 0.125em 0.125em 0 #383534;
}

.format-i {
  color: #cecaca;
  text-shadow: 0.125em 0.125em 0 #333232;
}

.format-j {
  color: #443a3b;
  text-shadow: 0.125em 0.125em 0 #110e0e;
}

.format-l {
  font-weight: bold;
  letter-spacing: 0.125em;
}

.format-m {
  text-decoration: line-through;
}

.format-n {
  text-decoration: underline;
}

.format-o {
  font-style: italic;
}

.format-p {
  color: #deb12d;
  text-shadow: 0.125em 0.125em 0 #372c0b;
}

.format-q {
  color: #47a036;
  text-shadow: 0.125em 0.125em 0 #04280d;
}

.format-s {
  color: #2cbaa8;
  text-shadow: 0.125em 0.125em 0 #0b2e2a;
}

.format-t {
  color: #21497b;
  text-shadow: 0.125em 0.125em 0 #08121e;
}

.format-u {
  color: #9a5cc6;
  text-shadow: 0.125em 0.125em 0 #261731;
}

.format-v {
  color: #eb7114;
  text-shadow: 0.125em 0.125em 0 #3b1d05;
}

.format-y {
  color: #971607;
  text-shadow: 0.125em 0.125em 0 #250501;
}

.format-z {
  color: #b4684d;
  text-shadow: 0.125em 0.125em 0 #2d1a13;
}

.format-custom {
  text-shadow: 0.125em 0.125em 0 color-mix(in srgb, currentColor 25%, #000 75%);
}

#minetip-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #100010;
  background-color: rgba(16, 0, 16, 0.94);
  padding: 0.375em;
  font-family: Minecraft, sans-serif;
  font-size: 16px;
  word-spacing: 4px;
  // white-space: nowrap;
  line-height: 1.25em;
  margin: 0.125em 0.25em;
  pointer-events: none;
  z-index: 9999;
  max-width: 100%;
  text-wrap: wrap;
  word-break: break-all;
}

#minetip-tooltip::before {
  content: "";
  position: absolute;
  top: 0.125em;
  right: -0.125em;
  bottom: 0.125em;
  left: -0.125em;
  border: 0.15em solid #100010;
  border-style: none solid;
  border-color: rgba(16, 0, 16, 0.94);
}

#minetip-tooltip::after {
  content: "";
  position: absolute;
  top: 0.125em;
  right: 0;
  bottom: 0.125em;
  left: 0;
  border: 0.125em solid #2d0a63;
  border-image: -webkit-linear-gradient(rgba(80, 0, 255, 0.31), rgba(40, 0, 127, 0.31)) 1;
  border-image: linear-gradient(rgba(80, 0, 255, 0.31), rgba(40, 0, 127, 0.31)) 1;
}

#minetip-tooltip > .description,
#minetip-tooltip > .minetip-description {
  display: block;
  margin-top: 0.25em;
}
